<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content1">
    <section class="section">
        <div class="card col-md-9">
            <div class="card-header">Liste des vehicules</div>
            <div class="card-body">
                <div class="container">
                    <form class="d-flex float-end" method="get" th:action="@{/listeVehicule}">
                        <input class="dataTable-input" type="search" name="keyword" placeholder="Search" aria-label="Search" th:value="${keyword}">
                    </form>
                </div>
                <div class="buttons">
                    <a th:href="@{/addVehicule}" class="btn btn-primary">Ajouter</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marque</th>
                        <th>Modèle</th>
                        <th>Immatriculation</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicule:${vehicule}">
                        <td th:text="${vehicule.id}"></td>
                        <td th:text="${vehicule.marque}"></td>
                        <td th:text="${vehicule.modele}"></td>
                        <td th:text="${vehicule.immatriculation}"></td>
                        <td>
                            <a class="btn btn-info">Edit</a>
                        </td>
                        <td>
                            <a onclick="return confirm('Etes vous sur ?')" th:href="@{/deleteVehicule(id=${vehicule.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="nav-pills">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page, status:${pages}" th:class="${status.index == currentPage ? 'page-item active aria-current page ms-1' : 'page-item ms-1'}">
                            <a th:text="${status.index}" class="page-link" th:href="@{listeVehicule(page=${status.index}, keyword=${keyword})}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-footer">copyright @ mamadou bhoye diallo 2022</div>
        </div>
    </section>
</div>

</body>
</html>